.nav__list, .phones__list, .testimonials__list, .section__title, .content .content__left h3, .content__left .our-email {
  margin: 0; }

.nav__list, .phones__list, .testimonials__list {
  list-style: none;
  padding: 0; }

.nav__list-item a {
  color: #fff;
  line-height: 2.25em;
  text-decoration: none; }

.section__title::before, .consultation .section__title::before, .contact .section__title::before {
  display: block;
  width: 36px;
  height: 16px;
  content: "";
  background-image: url(../images/icon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 18px); }

@media (max-width: 1023px) {
  .header .container {
    width: 768px; }
  .about__us .container {
    width: 768px; }
  .gallery .container {
    width: 768px; }
    .gallery .container .apart__photo img {
      height: 230px; }
  .consultation .container {
    width: 768px; }
  .testimonials .container {
    width: 768px; }
  .contact .container {
    width: 768px; } }

@media (max-width: 800px) {
  .header .container {
    width: 640px; }
  .about__us .container {
    width: 640px; }
  .gallery .container .apart__photo img {
    height: 200px; }
  .consultation .container {
    width: 640px; }
  .testimonials .container {
    width: 640px; }
  .contact .container {
    width: 640px; } }

@media (max-width: 800px) {
  .header .container {
    width: 640px; }
  .about__us .container {
    width: 640px; }
  .gallery .container {
    width: 640px; }
    .gallery .container .apart__photo img {
      height: 200px; }
  .consultation .container {
    width: 640px; }
  .testimonials .container {
    width: 640px; }
  .contact .container {
    width: 640px; } }

@media (max-width: 679px) {
  .header .container {
    width: 480px; }
  .header .container--header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset; }
  .logo__container {
    margin-bottom: 40px; }
  .about__us .container {
    width: 480px; }
  .about__us .container--about__us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .gallery .container {
    width: 480px; }
    .gallery .container .apart__photo img {
      height: 150px; }
  .consultation .container {
    width: 480px; }
  .consultation .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .testimonials .container {
    width: 480px; }
    .testimonials .container .testimonials__list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .contact .container {
    width: 480px; }
    .contact .container .content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media (min-width: 400px) and (max-width: 500px) {
  .header .container {
    width: 380px; }
  .header .container .logo__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .container .logo__container .header__phone {
      margin-bottom: 0; }
    .header .container .logo__container .header__call {
      margin-top: 0; }
  .about__us .container {
    width: 380px; }
  .about__us .container--about__us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .about__us .promo {
    width: 100%; }
  .gallery .container {
    width: 380px; }
    .gallery .container .apart__photo img {
      height: 150px; }
  .consultation .container {
    width: 380px; }
  .testimonials .container {
    width: 380px; }
  .contact .container {
    width: 380px; } }

@media (min-width: 320px) and (max-width: 400px) {
  .header .container {
    width: 300px; }
    .header .container .logo__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header .container .logo__container .header__phone {
        margin-bottom: 30px; }
      .header .container .logo__container .header__call {
        margin-top: 30px; }
  .about__us .container {
    width: 280px; }
  .about__us .promo {
    width: 100%; }
  .gallery .container {
    width: 280px; }
    .gallery .container .section__title {
      font-size: 40px; }
    .gallery .container .apart-mod-left {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding-top: 74px; }
    .gallery .container .apart-mod-center {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px; }
    .gallery .container .apart-mod-right {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px; }
  .consultation .container {
    width: 280px; }
    .consultation .container .section__title {
      font-size: 40px; }
    .consultation .container .content__left,
    .consultation .container .content__right {
      width: 100%; }
  .testimonials .container {
    width: 280px; }
    .testimonials .container .section__title {
      font-size: 40px; }
  .contact .container {
    width: 280px; }
    .contact .container .section__title {
      font-size: 40px; } }

.header {
  height: 100vh;
  background: url(../images/header-bg.png) no-repeat;
  background-position: 50% 100%;
  background-size: cover; }
  .header .logo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 55px; }
    .header .logo__container .header__logo {
      width: 140px;
      text-align: center;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid transparent;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-animation: pulsar 10s linear infinite;
              animation: pulsar 10s linear infinite;
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }
      .header .logo__container .header__logo img {
        position: relative;
        left: 3px; }
    .header .logo__container .header__phone {
      color: #fff;
      text-decoration: none;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .header .logo__container .header__phone:hover {
        color: #606060; }
    .header .logo__container .header__call {
      -webkit-text-decoration: dashed;
              text-decoration: dashed;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 1px dashed #fff;
      line-height: 2em;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .header .logo__container .header__call:hover {
        color: #606060;
        border-bottom: 1px dashed #606060; }

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px; }

.nav__list-item a {
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .nav__list-item a:hover {
    color: #606060; }

@-webkit-keyframes pulsar {
  0% {
    -webkit-box-shadow: unset;
            box-shadow: unset; }
  50% {
    -webkit-box-shadow: inset 0 0 0 0 #d5d5d5, 0 0 10px 0 #d5d5d5;
            box-shadow: inset 0 0 0 0 #d5d5d5, 0 0 10px 0 #d5d5d5; }
  100% {
    -webkit-box-shadow: unset;
            box-shadow: unset; } }

@keyframes pulsar {
  0% {
    -webkit-box-shadow: unset;
            box-shadow: unset; }
  50% {
    -webkit-box-shadow: inset 0 0 0 0 #d5d5d5, 0 0 10px 0 #d5d5d5;
            box-shadow: inset 0 0 0 0 #d5d5d5, 0 0 10px 0 #d5d5d5; }
  100% {
    -webkit-box-shadow: unset;
            box-shadow: unset; } }

.about__us {
  padding-top: 134px;
  padding-bottom: 171px; }

.container--about__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.promo {
  width: 60%;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.25em;
  text-transform: uppercase; }
  .promo span {
    color: #00aaef; }

.about__us-history {
  font-weight: 500;
  line-height: 1.5em; }

.about__us-list {
  padding: 0; }
  .about__us-list .list__item {
    font-weight: 300;
    line-height: 1.5em; }

.about__us-content {
  width: 80%; }

.about__us-guaranty {
  font-weight: 500; }

.gallery {
  background-color: #eee; }

.container--gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 110px; }

.section__title {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: auto;
  font-size: 48px;
  font-weight: 300;
  line-height: 0.75em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: -12px;
  padding-bottom: 14px;
  border-bottom: 2px solid #00aaef; }
  .section__title::before {
    background-color: #eee; }

.apart-mod-left {
  display: grid;
  grid-template-columns: 64.5% 33.3%;
  grid-template-rows: 263px, 22px;
  grid-gap: 20px;
  padding-top: 74px; }

.apart-mod-center {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 261px, 22px;
  grid-gap: 20px; }

.apart-mod-right {
  display: grid;
  grid-template-columns: 33.3% 64.5%;
  grid-template-rows: 260px, 22px;
  grid-gap: 20px; }

.apart__photo img {
  display: block;
  width: 100%;
  height: 262px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .apart__photo img:hover {
    opacity: 0.8; }

.apart__photo:hover {
  -webkit-box-shadow: inset 0 0 0 1px #d5d5d5, 0 0 6px 0 #d5d5d5;
          box-shadow: inset 0 0 0 1px #d5d5d5, 0 0 6px 0 #d5d5d5; }

.apart__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 30px; }
  .apart__name span {
    color: #00aaef; }

.container--consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 144px; }

.consultation .section__title::before {
  background-color: #fff; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px; }
  .content .content__left {
    width: 480px; }
    .content .content__left h3 {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.12em; }
    .content .content__left p {
      line-height: 1.5em; }
  .content .content__right {
    width: 383px; }

.form .input {
  border: none; }
  .form .input:focus {
    outline-color: #00aaef; }

.form__field:not(:last-child) {
  margin-bottom: 8px; }

.container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px; }

.contact .section__title::before {
  background-color: #fff; }

.content__left {
  font-size: 24px;
  line-height: 1.5em; }
  .content__left .our-email {
    margin-bottom: 30px; }
  .content__left a {
    color: #000;
    text-decoration: none; }
    .content__left a:hover {
      color: #00aaef;
      -webkit-transition: 0.4s;
      transition: 0.4s; }

.form textarea {
  width: 100%;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #eee;
  color: #393939;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  padding: 20px; }
  .form textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .form textarea::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .form textarea:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .form textarea::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .form textarea::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .form textarea:focus {
    outline-color: #00aaef; }

.testimonials {
  background-color: #eee; }

.container--testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.testimonials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 80px; }
  .testimonials__list .testimonial {
    width: 305px;
    text-align: center; }
  .testimonials__list .testimonial__name {
    margin: 16px 0 10px; }
  .testimonials__list .testimonial__position {
    font-style: italic;
    opacity: 0.4; }
  .testimonials__list .testimonial__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative; }
    .testimonials__list .testimonial__photo::before {
      content: "";
      position: absolute;
      background-image: url(../images/photo-icon.png);
      background-position: center;
      background-repeat: no-repeat;
      top: 55px;
      left: -45px;
      width: 75px;
      height: 30px; }

.footer {
  height: 540px;
  background-image: url(../images/nastol.com.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
  z-index: 100;
  left: 0;
  right: 0; }
  .footer .footer__logo {
    width: 115px;
    height: 76px;
    background-image: url(../images/dark_back.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .footer .footer__copy {
    width: 120px;
    color: #fff;
    line-height: 2.3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

body {
  background: #fff;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  margin: 0;
  padding-bottom: 540px;
  overflow-x: hidden; }

.wrapper {
  background: #fff;
  position: relative;
  z-index: 200;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

.container {
  width: 960px;
  margin: 0 auto; }

form__field {
  margin-bottom: 10px; }

.button {
  width: 100%;
  height: 55px;
  font-size: 14px;
  font-weight: 500;
  line-height: 55px;
  color: #fff;
  background-color: #00aaef;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .button:hover {
    color: #00aaef;
    background-color: #fff;
    border: 1px solid #00aaef; }
  .button:active {
    color: #00aaef;
    background-color: #eee;
    border: 1px solid #00aaef;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  .button:focus {
    color: #00aaef;
    background-color: #eee;
    border: 1px solid #00aaef; }
  .button:target {
    color: #00aaef;
    background-color: #eee;
    border: 1px solid #00aaef; }
  .button__inline {
    display: inline-block;
    width: auto;
    padding: 0 60px;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid transparent; }

.input {
  width: 100%;
  height: 55px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eee;
  color: #393939;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 500; }
  .input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .input::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .input::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }
  .input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #909090; }

/*# sourceMappingURL=main.css.map */
